<template>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Total Pengeluaran</h5>
      <p class="card-text">{{toRupiah(totalExpense)}}</p>
      <a href="javascript:void(0)" class="btn btn-primary" v-on:click="showFormExpense(true)">Tambah Pengeluaran</a>
    </div>
  </div>
  <div class="card" v-show="formAvailable" style="margin-top:20px;">
    <div class="card-body">
      <div class="card-title"><h3><span v-text="modeForm"></span> Expense</h3></div>
      <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" placeholder="Title" v-model="form.title">
      </div>
      <div class="mb-3">
        <label class="form-label">Amount</label>
        <input type="number" class="form-control" placeholder="Title" v-model="form.amount">
      </div>
      <button type="button" class="btn btn-primary" @click="saveExpense">Simpan</button>
      <button type="button" class="btn btn-light" @click="showFormExpense(false)">Batal</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12" v-for="(ex,index) in expense" :key="index">
      <CardExpense 
        :expense="ex" 
        @editExpense="editExpense" 
        @delete-expense="deleteExpense" 
        style="margin-top:10px;"
      />
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  import { onMounted, reactive, ref } from 'vue'

  import CardExpense from '@/components/CardExpense.vue'
  
  export default {
    components:{
      CardExpense
    },
    setup(){
      const expense = ref([])
      const totalExpense = ref(0)

      const formAvailable = ref(false)
      const modeForm = ref("Add")
      const formState = reactive({
        form : {
          title:"",
          amount: 0
        }
      })

      const getExpense = async () => {
        const dataExpense = await axios.get("http://localhost:3000/expense");
        expense.value = dataExpense.data
      }

      const sumExpense = async () => {
        const dataExpense = await axios.get("http://localhost:3000/expense/sum-expense");
        totalExpense.value = parseInt(dataExpense.data.amount)
      }

      const showFormExpense = (state) => {
        modeForm.value = "Add"
        formAvailable.value = state
      }

      const saveExpense = () => {
        if(modeForm.value=="Add"){
          axios.post("http://localhost:3000/expense", {
            ...formState.form
          })
          .then( (result) => {
            clearAndRefreshForm(result)
          })
          .catch((error) => console.log('error', error))
        }else if (modeForm.value=="Edit"){
           axios.put("http://localhost:3000/expense", {
            ...formState.form
          })
          .then( (result) => {
            clearAndRefreshForm(result)
          })
        }
      }

      const deleteExpense = (ex) => {
        axios.delete("http://localhost:3000/expense/"+ex.id)
        .then((response) => {
          alert(response.data.message);

          getExpense()
          sumExpense()
        })
        .catch((error) => console.log('error', error))
      }

      const editExpense = (ex) => {
        modeForm.value = "Edit"
        formAvailable.value = true
        formState.form.title = ex.title 
        formState.form.amount = ex.amount 
        formState.form.id = ex.id 
      }

      let toRupiah = (num)=>{
        return "Rp " + num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
      };

      const clearAndRefreshForm = (result) => {
        alert(result.data.message);
        showFormExpense(false)

        formState.form = {
          title:"",
          amount: 0,
        }
        getExpense()
        sumExpense()
      }

      onMounted(()=>{
        getExpense()
        sumExpense()
      })

      return {
        expense, totalExpense, formAvailable, ...formState, modeForm,
        getExpense, sumExpense, toRupiah, showFormExpense, saveExpense, deleteExpense, editExpense, clearAndRefreshForm
      }
    }
  }
</script>