<template>
 <div class="card card-expense">
    <div class="card-body">
      <div class="row">
        <div class="col-6 col-md-10">
          <h3 class="card-text">{{toRupiah(expense.amount)}}</h3>
          <p class="card-text">{{expense.title}}</p>
        </div>
        <div class="col-6 col-md-2">
          <p class="card-text float-end">{{expense.input_time}}</p>
          <div class="float-end">
            <button type="button" class="btn btn-sm btn-warning" @click="$emit('editExpense', expense)">Edit</button>
            &nbsp;
            <button type="button" class="btn btn-sm btn-danger" @click="$emit('deleteExpense', expense)">Hapus</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props:{
      expense:{
        type:Object,
        required:true
      }
    },
    setup(){
      let toRupiah = (num)=>{
        return "Rp " + num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
      };
      return {
        toRupiah
      }
    }
  }

</script>