<template>
  <nav class="navbar navbar-light bg-light p-3">
    <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
      <a class="navbar-brand" href="#">
        Catatan Keuangan
      </a>
    </div>
  </nav>
  <div class="container" style="padding-top: 25px">
    <router-view />
  </div>
</template>

<style>
  .navbar {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
  }

  @media (min-width: 767.98px) {
    .navbar {
      top: 0;
      position: sticky;
      z-index: 999;
    }
  }

  .sidebar .nav-link {
    color: #333;
  }

  .sidebar .nav-link.active {
    color: #0d6efd;
  }
</style>